:root {
  --margen-derecho: 40px;
}

body,
input,
button,
label,
h1,
h2,
h3,
a,
div,
span {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  background: #1a1d21;
  color: #e5e5e5;
  margin: 0;
}

/* LAYOUT GENERAL */
.layout {
  display: flex;
  height: calc(100vh - 60px); /* altura total menos header */
  overflow: hidden;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
  overflow-y: auto;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
