body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Degradado verde → azul */
  background: linear-gradient(90deg, #00b347, #0077ff);

  color: white;
}

.topbar nav a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
}
.topbar nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 3px;
}

/* Línea animada */
.topbar nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

/* Efecto hover */
.topbar nav a:hover::after {
  width: 100%;
}

main {
  padding: 80px 20px; /* espacio para el banner fijo */
}


